/* body{
    background: radial-gradient(#e5e5e5,#ffff,#e5e5e5);
}


.card-container {
    width:100%;
    outline:1px solid red;
    background-color: #fff;
    border: 0;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 1rem;
    cursor: pointer;
    position: relative;
    margin: 1rem auto;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-body{
    padding:3rem 0 !important;
}

.card-text{
    font-size:.9rem;
    padding:.4rem 1.9rem;

}

.container-fluid .row{
    padding:6rem;

}

.overflow{
    overflow:hidden;
}

.card-img-top{
    transform:scale(1);
    transition:transform 0.5s ease;
}

.card-img-top:hover{
    transform:scale(1.8);
} */