

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  height: 26vh;
}

.links{
  color:white !important;
}

.footer-right a {
  text-decoration: none;
  color: white;
}

.footer-right div {
  margin: 1%;
}

.footer-left {
  display: flex column;
  width: 50%;
  height: 12vh;
  text-align: center;
  font-size: 1.1rem;
  margin-top:0;
}

.footer-left div{
  margin-bottom: 0 !important;
}

.footer-left a {
  text-decoration: none;

}
.link-container{
  display:flex column;
  text-align: center;
}
.links {
  color: black;
  text-align: center;
  text-transform: uppercase;
  text-weight:bold;
  font-family:Italiana, sans-serif;
}




