@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@1,300&display=swap");

.container-img {
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 80vh;
  margin-top: 3%;
  font-size: 2rem;
}

.cancer-heading {
  font-size: 3rem;
  color: #a42ff9;
  font-weight: bold;
  text-align: center;
}

.paragraph1 {
  font: size 1.5rem;
  text-align: center;
  margin-top: 3%;
  color: #ffffcc;
  font-weight: 400px;
  margin-bottom: 5%;
}
.paragraph2 {
  font: size 1.5rem;
  text-align: center;
  color: #ffffcc;
  font-weight: 400px;
  margin-bottom: 5%;
}
.paragraph3 {
  font: size 1.5rem;
  text-align: center;
  margin-top: 3%;
  color: #ffffcc;
  font-weight: 400px;
}

.keto-heading {
  font-size: 2.5rem;
  color: #e8d1dd;
}

.keto-img {
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 110vh;
  margin-top: 5%;
}

.ul-list-item {
  font-size: 1.5rem;
  color: #c9c0bb;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
  font-family: "Italiana", serif;
}
.mealplan-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  height: 20vh;
}
.mealplan-button {
  width: 50px 30px;
  text-align: center;
  border-radius: 15px;
  background:#9E507B;
}



@media (min-width: 1200px) {

  
  
  .paragraph1 {
    font: size 1.6rem;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .paragraph2 {
    font: size 1.6rem;
  
  }
  .paragraph3 {
    font: size 1.6rem;

  }
  
  .keto-heading {
    font-size: 2.5rem;
    color: #e8d1dd;
  }
  
  .dogs{
    height:120vh !important;
    background-repeat:no-repeat cover;
    background-size: cover;
    
  }

  .unordered-list li {
    font-size:1.6rem !important;
  }
  .keto-img {
    background-repeat: no-repeat cover;
    background-size: cover;
    height: 100vh;
    margin-top: 5%;
  }
  
  

 
}

@media (min-width: 900px) {
  .container-img {
    height: 80vh;
  }

  .cancer-heading {
    font-size: 2.3rem  !important;
  }

 
  .keto-img {
    height: 100vh;
  }

  .keto-heading {
    font-size: 2.3rem !important;
    font-weight:bold;
    font-family: Italiana;
  }

  .keto-headin {
    text-align: center;
    font-family: Italiana;
    font-size: 2.1rem;
    font-weight: bold;
    color: grey;
  }

  .ul-list-item {
    font-size: 1.2rem !important;
  }

  .mealplan-button {
    margin-right:8%;
    }
  .unordered-list {
    margin-top: 5%;
  }
.dogs{
  height:90vh;
  margin-bottom:5%;
}

  .unordered-list li {
    font-size: 1.2rem;
    margin: 8%;
    color: white;
    text-align: center;
  }
}
  @media (min-width: 600px){

    
    .cancer-heading {
      font-size: 1.8rem;
      margin-bottom: 5%;
  
    }
    
    .paragraph1 {
      font-size: 1.4rem;
      font-weight:500px;
      margin-bottom:10%;
    }
    .paragraph2 {
      font-size: 1.4rem;
      font-weight: 500px;
      margin-bottom:10%;
    }
    .paragraph3 {
      font-size: 1.4rem;
      text-align: center;
      font-weight: 500px;
      margin-bottom:10%;
    }
    
    .keto-heading {
      font-size: 1.8rem;
      text-align: center;
    }
    
    .keto-img {
      height: 100vh;
    }
    
    .ul-list-item{
      font-size: 1.3rem;
      font-weight:600;

    }
    .mealplan-btn-container {
      display: flex;
      justify-content:flex-end;
      align-items: flex-end;
      height: 30vh;
    }
    .mealplan-button {
      padding: 22px 30px;
     
    }
    
  }
@media (max-width:599px) {

  .container-img {
    height: 60vh;
    margin-top: 3%;
    font-size: 1.2rem;
  }
  
  .cancer-heading {
    font-size: 1.6rem;
   
  }
  
  .paragraph1 {
    font: size 1rem;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 6%;
  }
  .paragraph2 {
    font: size 1rem;
    text-align: center;
    margin-bottom: 6%;
  }
  .paragraph3 {
    font: size 1rem;
    text-align: center;
    margin-top: 3%;
  }
  
  .keto-heading {
    font-size: 1.6rem;
    text-align: center;
  }
  
  .keto-img {
    height:80vh;
  }
  
  
  .ul-list-item{
    font-size:1rem;
    font-weight:bold;
  }

  .mealplan-btn-container{
    max-width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height:28vh;

  }

  .mealplan-button {
    padding:18px 20px;
    margin-right:10px;
  }

  .keto-headin{
    font-size:1.4rem;
    color:grey;
    text-align:center;
  }

  .dogs{
    height:60vh;
  }
  
  .unordered-list li{
    font-size:1rem;
    padding:10px;
    color:#e8d1dd;
    margin:2%;
  }









}

