.container-img{
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 80vh;
  margin-top:3%;
  font-size: 2rem;
}



.cancer-heading{
  font-size: 3rem;
  color:#A42FF9;
  font-weight:bold;
}

.paragraph{
  font: size 1.5rem;
  text-align:center;
  margin-top:3%;
  color:#ffffcc;
  font-weight:400px;
}

.keto-heading{
  font-size: 2.5rem;
  color:#E8D1DD;
  
}

.keto-img{
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 110vh;
  margin-top:5%;
}

ul li{
  font-size:1.5rem;
  color:#c9c0bb;
  margin-top:3%;
  margin-left:4%;
  margin-right:auto;
  font-weight:bold;
  text-align:center;
}
.btn-container{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-top:3%;
  margin-left:2%;
  
}
.button{
  width:10px 15px 15px 10px;
  background:#FF6501;
  text-align:center;
  margin-top:5%;
  border-radius:15px;
  
}
