* {
  box-sizing: border-box;
  max-width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@1,300&display=swap');


.wrapper {
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover; 
    height: 100vh;
    font-size: 2rem;
    margin-top:0 !important;
}

h2 {
  margin-top: 5%;
  color: #E6C436;
  text-align: center;
  font-weight: 400px;
  font-size: 2.5rem;
  height: 10vh;
}

.login-form {
  display: flex column;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.login-form input {
  display: flex column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5vh;
  width: 92%;
  margin-top:5%;
}

label {
  color: white;
  font-size:1.5rem;
}

.button-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width:93%;
}

.btn {
  border: 0;
  color: white;
  font-family: italiana;
  font-weight: 600;
  line-height: 2.5;
  width: 97%;
  font-size: 1rem;
  padding: 8px 16px;
  opacity: 0.9;
  background: #E6C436;
  border-radius: 15px;
  margin-top:12%;
}

button:hover{
  transform:scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  transition:.2s;








}

