* {
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  background-repeat: no-repeat cover;
  width: 200%;
  background-size: cover;
  height: 100vh;
}

h2 {
  margin-top: 5%;
  color: #6e8d4d;
  text-align: center;
  font-weight: 400px;
  font-size: 3rem;
  height: 10vh;
}

.login-form {
  display: flex column;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.login-form input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
  margin: 3%;
  width: 150%;
}

label {
  color: white;
}

button {
  border: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 2.5;
  width: 100%;
  font-size: 1rem;
  padding: 8px 12px;
  opacity: 0.9;
  background: #eac738;
  border-radius: 15px;
  margin-left: 1%;
}
