* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@1,300&display=swap");

.wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  margin: 0 !important;
}

.h2-login {
  color: grey;
  text-align: center;
  font-weight:bold;
  font-size: 2.5rem;
  height: 10vh;
  padding-top: 5%;
  font-family: roboto, sans-serif;
}

.login-form {
  display: flex column;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.login-form input {
  text-align: center;
  height: 5vh;
  margin: 3%;
  width: 90%;
}

.login-label {
  color: white;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttn {
  border: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 2.5;
  width: 83%;
  font-size: 1rem;
  padding: 8px 12px;
  opacity: 0.9;
  background: #e6c436;
  border-radius: 15px;
  margin-left: 1%;
  margin-top: 7%;
}

.buttn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  transition: 0.2s;
}

@media (min-width:1800px){

}


@media (min-width:1200px){

  
  
  .h2-login {
    font-size:2.2rem !important;
  }
  
 
  
  .login-form input {
    text-align: center;
    height: 5vh;
    margin: 3%;
    width: 80% !important;
  }
  

  
 
  
  .buttn {
   
    position:relative;
    right:6% !important;
  }
  
 

}

@media (min-width:900px){

  
  .h2-login {
    font-size: 2.2rem !important;
 
  }
  
  .login-form {
    margin-top: 20%;
  
   
  }
  
  .login-form input {
 
    width: 88%;
  }
  
  .login-label {
    font-size: 1.4rem;
    width:80%;
  }
  


  
  .buttn {
    width: 90%;
    padding: 12px 22px;
    margin-top: 10%;
    border-radius:15px;
    margin-top:10%;
    position:relative;
    right:3%;
    
  }
  

  

}

@media (min-width:600px){

  
  .h2-login {
    font-size: 2rem;
  }
  
  .login-form {
    margin-top:20% !important;
    width: 35%;

  }
  

  
  .login-label {
    font-size: 1rem  !important;
    color:grey;
    font-weight:bold;
  }
  
 
  
  .btn {
    width: 95%;
    font-size: 1rem;
    padding: 12px 22px;
    margin-top: 10%;
  }

}

@media (max-width:599px){
 
  
  .h2-login {
    color:grey;
    font-weight: bold;
    font-size: 2.1rem;
    padding-top:10%;
  
  }
  
  .login-form {
    margin-top: 20%;
    width: 42%;
  }
  
  
  
  .login-label {
    font-size: .9rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    width: 93%;
    font-size: .6rem;
    padding: 10px 12px;
    margin-top: 10%;
  }
  
}