@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@1,300&family=Roboto&display=swap");

.mealplan-wrapper {
  height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 100vh;
  font-size: 2rem;
}

.meal-plan-heading {
  text-align: center;
  font-weight: bold;
  font-family: roboto;
  font-size: 3rem;
  color: #dcc540;
}

.meal-plan-paragraph {
  color: beige;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
}

.form-weight {
  text-align: center;
  margin-top: 3%;
  font-family: Italiana;
  font-size: 2rem;
}

.form-weight select {
  margin: 1.5%;
  font-size: 1.3rem;
}

.form-weight input {
  font-size: 1.3rem;
  font-family: Italiana;
  background-color: #dcc540;
  padding: 12px 35px;
}
.form-weight input:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  transition: 0.2s;
  background-color: #303030;
  color: white;
}
.form-weight-label {
  color: beige;
  font-family: roboto;
}

/* media breakpoint max-width 599px */

@media (max-width:599px) {
  .mealplan-wrapper {
    height: 80vh;
 
  }
  
  .meal-plan-heading {
    margin-top:5%;
    font-size: 1.8rem;
  }
  
  .meal-plan-paragraph {
  font-size:1.2rem;
  margin-bottom:10%;
  }
  
  .form-weight {
    text-align: center;
    margin-top: 3%;
    font-family: Italiana;
    font-size: 1rem;
  }
  .form-weight-label {
    font-size:.9 rem !important;
  }
  .form-weight select {
    margin: 2.5%;
    font-size: 1.1rem;
  }
  

  }


@media (min-width:600px) {

  .mealplan-wrapper {
    height: 80vh;

  }
  
  .meal-plan-heading {
   
    font-size: 2rem;
  }
  
  .meal-plan-paragraph {
    font-size:1.1rem;
    margin-bottom:8%;
  }
  
  .form-weight {

    font-size: 1.2rem;
  }
  
  
}


@media (min-width:900px) {

  .mealplan-wrapper {
    margin-top:5%;
    height: 80vh;
    width: 100%;
    font-size: 1.5rem;
  }
  
  .meal-plan-heading {
   
    font-size: 2rem;
  }
  
  .meal-plan-paragraph {
    margin-top: 5%;
    font-size:1.3rem;
    margin-bottom: 6%;
  }
  
  .form-weight {
    text-align: center;
    margin-top: 3%;
    font-family: Italiana;
    font-size: 1.2rem;
  }
  

}

@media (min-width:1200px) {
  .mealplan-wrapper {
    height: 90vh;
 
  }
  
  .meal-plan-heading {

    font-size: 2.6rem;
  }
  
  .meal-plan-paragraph {
    font-size:1.5rem;
    font-weight:bold;
    color:antiquewhite
  }
  
  .form-weight {

    font-size: 1.4rem;
  }
  
  
  }

@media (min-width:1600px) {
  .mealplan-wrapper {
    height: 80vh;

  }
  

  
  .meal-plan-paragraph {
    color: beige;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
  }
  
  .form-weight {
    text-align: center;
    margin-top: 3%;
    font-family: Italiana;
    font-size: 1.6rem;
  }
  
  
}









