@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital,wght@1,300&display=swap");



nav {
  display: flex;
  background: #88bb63;
  height: 15vh;
  justify-content: space-around;
  opacity: 0.8;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  font-family: "Italiana", serif;
  text-shadow: 2px 2px black;
  outline:3px solid red;
}

.nav-links li {
  color: #e5b906;
  outline:3px solid black;
}

.cross-container{
  outline:3px solid black;
}

.logo {
  border-radius: 50%;
  height: 15vh;
}
.button-div {
  max-width: 100%;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 15vh;
  outline:3px solid blue;
}
.logout-btn {
  margin-top: 4%;
  padding: 16px 26px;
  text-align: center;
  background: #d7c446;
  color: white;
  border-radius: 15px;
}

@media (max-width:800px) {
  nav{
    height:55vh;
  
  }

  .nav-container{
    display:flex column;
    justify-content:center;
    align-items:center;
    width:100%;

  }
 

.nav-links {
  height:20vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:2rem;
}

.nav-links li{
  height:10vh;
  width:15%;
  font-size:1rem;
  margin:.5rem;
}

.logo-container{
  width:100%;
  outline:3px solid black;
  display:flex;
  justify-content:center;
  align-items:center;
}

.logo{
  outline:3px solid red;
  margin-top:2%;
}

.button-div{
  margin-bottom:10px;
}



}


