*{
    box-sizing: border-box;
    max-width: 100%;
}

.img-container {
    background-repeat: no-repeat cover ;
    width: 200%;
    background-size: cover;


}



h1{
    color:#8B5050;
    text-align: center;
    margin-top:5%;
    font-weight:bold;
    font-size:2.3rem;
    
}


.signup-form{
    display:flex column;
    margin-top:12%;
    justify-content:center;
    align-items:center;
    width:15%;
    margin-left: auto;
    margin-right:auto;


}

.signup-form input{ 
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:5vh;
    width:100%;
      


}

label{
    color:white;
}

.submit{
    max-width: 100%;
}

button{
    background-color:orange;
    border: 0;
    color: #fefbef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 2.5;
    width: 100%;
    font-size:1rem;
    padding:8px 12px;
    opacity: 0.7;
 
}